#layout-admin-container {
  height: 100vh;
  width: 100%;
  background: rgb(236 239 241 / 0.5);
  #menu-container {
    .ant-menu-item {
      padding: 28px;
      font-size: medium;
      font-weight: 500;
      display: flex;
      align-items: center;
      color: #607d8b;
      .ant-menu-item-icon {
        padding-right: 8px;
        width: 2rem;
        height: 1.4rem;
        color: #546e7a;
      }
    }
    .ant-menu-item-selected {
      background-image: linear-gradient(to top right, #546e7a, #78909c);
      > svg {
        color: white !important;
      }
      > span {
        color: white !important;
      }
      > img {
        filter: brightness(0) invert(1);
      }
    }
  }

  .ant-layout-sider-collapsed {
    .ant-menu-item {
      padding: 22px !important;
      font-size: medium;
      font-weight: 500;
      display: flex;
      align-items: center;
      color: #607d8b;
      > img {
        width: 1.4rem !important;
        // scale: 2 1.3 !important;
      }

      .ant-menu-item-icon {
        padding-right: unset !important;
        width: 100%;
        scale: 1.7;
        color: #546e7a;
      }
    }

    .ant-menu-item-selected {
      background-image: linear-gradient(to top right, #546e7a, #78909c);

      > svg {
        color: white !important;
      }

      > span {
        color: white !important;
      }

      > img {
        filter: brightness(0) invert(1);
      }
    }
  }
}
.admin-content {
  padding: 2rem;
  overflow: auto;
}
